.menu-page {
  width: 100%;
  min-height: 100vh;
  padding: 100px 5%;
  /* background: linear-gradient(135deg, #fffdf7, #fff5ec); */
  box-sizing:content-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}

.menu-header {
  text-align: center;
  margin-bottom: 50px;
}

.menu-header h2 {
  font-size: 2.5rem;
  color:#ead8d8;
  margin-bottom: 10px;
}

.menu-header p {
  font-size: 1.2rem;
  color: #ead8d8;
}

/* Grid Layout */


.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 35px;
  width: 100%;
  max-width: 16000px;  /* bada width allow kar */
  /* margin: 0 auto; */
  padding: 0 50px;   
}




/* Card Style */
.menu-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.menu-card:hover {
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.img-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-content h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.price {
  font-size: 1.1rem;
  color: #e74c3c;
  font-weight: bold;
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
}

.popup-content h3 {
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.popup-content p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #ff5a5f;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #e74c3c;
}

.close-btn {
  margin-top: 15px;
  padding: 8px 15px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.close-btn:hover {
  background: #000;
}
