.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e63946;
  padding: 15px 40px;
  color: #fff;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ffb703;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;   /* screen ke equal */
  margin: 0;
  padding: 15px 40px;
  background: #e63946;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  z-index: 1000;
}
